# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Database files
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.sql

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.cache/

# Coverage (if you add later)
htmlcov/
.coverage
.coverage.*

# Build / dist
dist/
build/
*.egg-info/

# Firmware
secrets.h